<!-- Sidebar -->
<div id="sidebar">
    <div class="inner">
        <!-- Menu -->
        <nav id="menu">
            <!-- Logo -->
            <a href="{{ site.url | absolute_url }}" id="sidelogo">
                <img src="/assets/images/DSC_0163" alt=""/>
            </a>

            <header class="major">
                <h2>Menu</h2>
            </header>
            <ul>
                <li><a href="{{ site.url | absolute_url }}">Home</a></li>
                <li><a href="{{ 'about' | absolute_url }}">About Me</a></li>
                <li><a href="{{ 'research' | absolute_url }}">Research</a></li>
                <li><a href="{{ 'news' | absolute_url }}">News</a></li>
            </ul>
        </nav>

        <!-- Section -->
        <section>
            <header class="major">
                <h2>Get In Touch</h2>
            </header>
            <ul class="contact">
                <li class="fa-envelope-o">
                    <a href="mailto:w.ohearn2@exeter.ac.uk" target="_blank"
                        >w.ohearn2@exeter.ac.uk</a>
                    
                <li class="fa fa-x">
                    <a href="https://x.com/Will_0_Tree" target="_blank"
                        >@Will_0_Tree</a>
                
                <li class="fa">☁️
                    <a href="https://bsky.app/profile/williamohearn.bsky.social" target="_blank"
                        >@williamohearn</a>

                 <li class="fa fa-rss">
                    <a href="https://willswandering.wordpress.com/" target="_blank"
                        >blog</a>
            </ul>
        </section>


<!-- Footer -->
        <footer id="footer">
            <p class="copyright">
                &copy; 2025 {{ site.title }}. All rights reserved.
                
                I thank Julia Watzek and Macaela Skelton for her help & input creating this website. 
            </p>
        </footer>
    </div>
</div>
